*.so
*.a
*.o
*.lo
*.la
*~
Makefile.in
aclocal.m4
autom4te.cache/
configure
config.status
config.log
Makefile
libtool
build-aux/
.deps/
.libs/
src/main
test/tests
test/testingdb/
testingdb/
test/test-suite.log
test/tests.log
test/tests.trs
TAGS
*.swp
libstorj.pc
docs
