*.so
*.a
*.o
*.lo
*.la
*~
Makefile.in
aclocal.m4
autom4te.cache/
configure
config.status
config.log
Makefile
libtool
build-aux/
.deps/
.libs/
src/main
src/storj
test/tests
test/testingdb/
testingdb/
test/test-suite.log
test/tests.log
test/tests.trs
TAGS
*.swp
libstorj.pc
docs
test/*.json.h
src/storj.exe
test/tests.exe
depends/downloads/*
depends/sources/*
depends/build/*
!depends/Makefile