!depends/Makefile
*.a
*.la
*.lo
*.o
*.so
*.swp
*~
.deps/
.idea/*
.libs/
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache/
build-aux/
build/*
cmake-build-debug
config.log
config.status
configure
depends/MacOSX10.11.sdk.tar.gz
depends/MacOSX10.11.sdk/
depends/build/*
depends/downloads/*
depends/sources/*
depends/toolchain/*
docs
libstorj.pc
libtool
src/main
src/storj
src/storj.dSYM/
src/storj.exe
test/*.json.h
test/test-suite.log
test/testingdb/
test/tests
test/tests.dSYM/
test/tests.exe
test/tests.log
test/tests.trs
test/tests_rs
test/tests_rs.dSYM/
test/tests_rs.exe
testingdb/
